body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* .container {
    flex: 1;
} */
.header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px 0;
}
.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
