.header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 20px;
}
.logo img {
    height: 50px;
}
.precios {
    text-align: center;
}
.login {
    background-color: #4CAF50;
}
.logout {
    background-color: red;
}
.boton {
    margin-right: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
img#construccion {
    width: 25%;
    height: 25%;
}